﻿<input type="hidden" id="lat" name="lat" value="0" />
<input type="hidden" id="lon" name="lon" value="0" />

<script>
    var x = document.getElementById("demo");
    getLocation()
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);

    } else {
        //x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    $("#lat").val(position.coords.latitude);
    $("#lon").val(position.coords.longitude);
}
</script>