﻿@Code
    Layout = Nothing
End Code

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>NewJobAlert</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
