﻿.editor-field{
    margin-bottom:20px;
}

/*.delivery.active{
      color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}*/

.table > thead > tr > .info,
.table > tbody > tr > .info,
.table > tfoot > tr > .info,
.table > thead > .info > td,
.table > tbody > .info > td,
.table > tfoot > .info > td,
.table > thead > .info > th,
.table > tbody > .info > th,
.table > tfoot > .info > th {
  background-color: #d9edf7;
}

.table-hover > tbody > tr > .info:hover,
.table-hover > tbody > .info:hover > td,
.table-hover > tbody > .info:hover > th {
  background-color: #c4e3f3;
}